<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/home" routerDirection="back">
        <img src='../../assets/back-dark.svg' />
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title">Favorite</h1>

  <ion-row class="favorite-items">
    <ion-col size="6" class="ion-text-left padding-left0">
      <img src="../../assets/products/fruitsalad.webp" />
      <p>₱34.00</p>
      <h6>Assorted fruits for fruit salad</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0">
      <img src="../../assets/products/bulanglang.webp" />
      <p>₱24.00</p>
      <h6>Ingredients for Bulanglang</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-left0">
      <img src="../../assets/products/bbcar.png" />
      <p>₱54.00</p>
      <h6>Baby Carrots</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0">
      <img src="../../assets/products/kamote.webp.crdownload" />
      <p>₱44.00</p>
      <h6>Sweet Kamote</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-left0">
      <img src="../../assets/products/squashhh.png" />
      <p>₱14.00</p>
      <h6>Squash</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0">
      <img src="../../assets/products/Grapeee.png" />
      <p>₱30.00</p>
      <h6>Grapes</h6>
    </ion-col>
  </ion-row>
</ion-content>
